language: node_js
node_js:
- 6
- 7
- 8
- 10
jobs:
  include:
  - stage: npm release
    if: tag IS present
    node_js: '6'
    deploy:
      provider: npm
      edge: true
      email: "$NPM_EMAIL"
      api_key: "$NPM_API_TOKEN"
      on:
        tags: true
        branch: master
