name: Main

on: [push, pull_request]

jobs:
  node-versions-matrix:
    name: Node ${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: ["20.x", "22.x", "24.x"]
    uses: ./.github/workflows/build-and-test.yml
    with:
      node-version: ${{ matrix.node-version }}
